<nav class="nav nav-pills flex-column flex-sm-row">
    <th:block th:if="${session.isEmpty()}">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/login">Login</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/register">Register</a>
    </th:block>

    <th:block th:unless="${session.isEmpty()}">
        <th:block th:if="${session.role == 'ROLE_ADMIN'}">
            <a class="flex-sm-fill text-sm-center nav-link" href="/cart">Cart</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/viewProducts">Products</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/viewCategories">Categories</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/adminRegister">Admin Register</a>
            <a class="flex-sm-fill text-sm-center nav-link disabled" href="/logout">Logout</a>
        </th:block>

        <th:block th:if="${session.role == 'ROLE_USER'}">
            <a class="flex-sm-fill text-sm-center nav-link" href="/cart">Cart</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/viewProducts">Products</a>
            <a class="flex-sm-fill text-sm-center nav-link disabled" href="/logout">Logout</a>
        </th:block>
    </th:block>

</nav>
